@use "../../styles/vars" as *;
@use "../../styles/mixins/mixins" as *;
@use "../../styles/mixins/title" as *;

.mainLayout {
	background-color: $backgroundPrimary;
	min-height: 100vh;
}

.main {
	@include flex($direction: column, $align: stretch, $gap: 40px);
	padding: 40px 15px;
}

.users {
	.title {
		@include title($color: $textSecondary);
	}
}

.create,
.edit {
	.title {
		@include title($color: $textThird);
	}
	.main {
		background-color: $backgroundThird;
	}
}
