@font-face {
	font-family: "Roboto Condensed";
	src: url("../assets/fonts/RobotoCondensed-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto Condensed";
	src: url("../assets/fonts/RobotoCondensed-BoldItalic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Roboto Condensed";
	src: url("../assets/fonts/RobotoCondensed-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto Condensed";
	src: url("../assets/fonts/RobotoCondensed-SemiBoldItalic.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Roboto Condensed";
	src: url("../assets/fonts/RobotoCondensed-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Roboto Condensed";
	src: url("../assets/fonts/RobotoCondensed-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
