$textPrimary: #4f4f55;
$textSecondary: #ffffff;
$textThird: #2e2c62;
$textFourth: #dee4f0;

$backgroundPrimary: #2e2c62;
$backgroundSecondary: #ffffff;
$backgroundThird: #EDEDED;

$borderRadius: 16px;

$danger: #bf0003;
$success: #00a70b;

$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

$fontSize: 16px;
$fontSizeSmall: 14px;
$fontSizeBig: 20px;
$fontSizeH1: 36px;
$fontSizeH2: 25px;
