services:
  db:
    image: postgres:16
    container_name: db
    restart: always
    environment:
      POSTGRES_DB: fullkek_db
      POSTGRES_USER: fullkek_user
      POSTGRES_PASSWORD: fullkek_password
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  backend:
    build:
      context: ../backend
    container_name: backend
    restart: always
    env_file:
      - ../backend/.env
    depends_on:
      - db
    ports:
      - "3000:3000"

  frontend:
    build:
      context: ../frontend
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  db_data:
