@use "../../styles/vars" as *;
@use "../../styles/mixins/mixins" as *;

@mixin formField($color: $textPrimary, $fontSize: $fontSize, $fontWeight: 600) {
	color: $color;
	font-size: $fontSizeSmall;
	@include flex($direction: column, $align: flex-start, $gap: 8px);
	font-size: $fontSize;
	label {
		font-weight: $fontWeight;
		i {
			color: $danger;
		}
	}
	input {
		min-width: 275px;
		border-radius: $borderRadius;
		padding: 12px 20px;
		border: 1px solid $textFourth;
		font-size: $fontSize;
		&::placeholder {
			color: $textPrimary;
			opacity: 0.4;
		}
	}
	&:has([class*="error"]) {
		input {
			outline: 2px solid $danger;
		}
	}
}
