// mixin flex center with params
@mixin flex($direction: row, $justify: center, $align: center, $wrap: wrap, $gap: 0) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	flex-wrap: $wrap;
	gap: $gap;
}

// mixin transition with params
@mixin transition($property: all, $duration: 0.3s, $timing-function: ease) {
	transition: $property $duration $timing-function;
}
